@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-950 text-white;
  }

  * {
    @apply p-0 m-0;
    -webkit-touch-callout: none; /* iPhone OS, Safari */
    -webkit-user-select: none; /* Chrome, Safari 3 */
    -khtml-user-select: none; /* Safari 2 */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    user-select: none; /* Possível implementação no futuro */
    /* cursor: default; */
  }

  .card{
    @apply rounded-3xl flex flex-col bg-zinc-800 py-3 px-6 cursor-pointer max-h-72
  } .card-header {
    @apply flex gap-2 justify-start items-center mb-2
  } .card-icon{
    @apply flex flex-col h-full py-2
  } .card-icon img{
    @apply w-8 h-8
  } .card-text{
    @apply flex flex-col
  } .card-title {
    @apply font-bold text-xl
  } .card-paragraph{
    @apply text-sm
  }

  .span-2{
    @apply col-span-2
  }
}
